In [1]:
import numpy as np
import pandas as pd

In [2]:
data_path = ('/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Raw/Dataset_1.1.xlsx')

In [3]:
Raw_Data = pd.read_excel(data_path)

In [4]:
Raw_Data.head()

,Project Name,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,HNI - Innov8 - Testing-N-V2_26112024,NORTH,2583,239.966555,0,4653,1,1,6,NaN,...,0,0,0,0,0,0,0,0,0,0
1,Bightly - Innov8 - Testing-N_22112024,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,...,2,84,0,1,3,0,0,2,0,2
2,Bightly - Innov8 - Testing-N_22112024,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,...,2,84,0,1,3,0,0,2,0,0
3,HNI - Innov8 - Testing-N-V2_26112024,NORTH,2583,239.966555,0,4653,1,1,6,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Yamaha - Innov8 - Testing-N-V2_26112024,NORTH,29192,2712.002973,0,32312,6,1,12,NaN,...,2,84,0,1,3,0,0,2,0,2

# Drop Ununsed Columns

Drop Project Name Column

In [5]:
Raw_data_Dropping = Raw_Data.drop("Project Name", axis = 1)

In [6]:
Raw_data_Dropping.head()

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0,0,0,0,0,0,0,0,0,0
1,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,2,84,0,1,3,0,0,2,0,2
2,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,2,84,0,1,3,0,0,2,0,0
3,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0,0,0,0,0,0,0,0,0,0
4,NORTH,29192,2712.002973,0,32312,6,1,12,NaN,UL&FM,...,2,84,0,1,3,0,0,2,0,2

In [8]:
Raw_data_Dropping.columns

Index(['Project Location', 'Carpet Area of project',
       'Carpet Area of project (sqm)',
       ' Area under  Terrace area / Refuge area where we would need to provide thermal insulation',
       'Built Up Area', 'Proposed Floor', 'Total floors proposed for project',
       'No. of floors', 'Sustainability', 'Fire Approval std.',
       ...
       'MEVEAP00240005SI', 'MEVEPV00210002SI', 'MEVGVK05750001SI',
       'MEWLSR00610002SI', 'MEWLSR00610003SI', 'MEWLSR00610004SI',
       'MEWLSR00610005SI', 'MEWLTE00600002SI', 'MEWLWL00620001SI',
       'MEWLWL00620012SI'],
      dtype='object', length=1777)

In [23]:
Raw_data_Dropping_Parameter=Raw_data_Dropping.iloc[:,0:167]

In [24]:
Raw_data_Dropping_Parameter.head()

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,Rmtr. Qty,Length in mtr. (Avg.)- Copper.,Length in mtr. (Avg.) - Fiber,Cylinder Weight for HUB / IDF Room,UPS Panel Each Cable Length in mtr,SPN DBs Each Cable Length in mtr,SPN DBs UPS Cable Size,MELDB Each Cable Length in mtr,MELDB Cable Size,HVAC Units Cable Length in mtr
0,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0.05,48,750,24,15,15,3cx10,15,3cx6,40
1,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,0.05,48,750,24,15,15,3cx10,15,3cx6,40
2,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,0.05,48,750,24,15,15,3cx10,15,3cx6,40
3,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0.05,48,750,24,15,15,3cx10,15,3cx6,40
4,NORTH,29192,2712.002973,0,32312,6,1,12,NaN,UL&FM,...,0.05,48,750,24,15,15,3cx10,15,3cx6,40

In [25]:
Raw_data_Dropping_Parameter.columns

Index(['Project Location', 'Carpet Area of project',
       'Carpet Area of project (sqm)',
       ' Area under  Terrace area / Refuge area where we would need to provide thermal insulation',
       'Built Up Area', 'Proposed Floor', 'Total floors proposed for project',
       'No. of floors', 'Sustainability', 'Fire Approval std.',
       ...
       'Rmtr. Qty', 'Length in mtr. (Avg.)- Copper.',
       'Length in mtr. (Avg.) - Fiber', 'Cylinder Weight for HUB / IDF Room',
       'UPS Panel Each Cable Length in mtr',
       'SPN DBs  Each Cable Length in mtr', 'SPN DBs  UPS Cable Size',
       'MELDB Each Cable Length in mtr', 'MELDB Cable Size',
       'HVAC Units Cable Length in mtr'],
      dtype='object', length=167)

In [26]:
Raw_data_Dropping.columns

Index(['Project Location', 'Carpet Area of project',
       'Carpet Area of project (sqm)',
       ' Area under  Terrace area / Refuge area where we would need to provide thermal insulation',
       'Built Up Area', 'Proposed Floor', 'Total floors proposed for project',
       'No. of floors', 'Sustainability', 'Fire Approval std.',
       ...
       'MEVEAP00240005SI', 'MEVEPV00210002SI', 'MEVGVK05750001SI',
       'MEWLSR00610002SI', 'MEWLSR00610003SI', 'MEWLSR00610004SI',
       'MEWLSR00610005SI', 'MEWLTE00600002SI', 'MEWLWL00620001SI',
       'MEWLWL00620012SI'],
      dtype='object', length=1777)

In [37]:
SKU_Labels= Raw_data_Dropping.iloc[:,301:]

In [38]:
SKU_Labels.head()

,CIADHL02630002SI,CIADHL02630003SI,CIADHR02620004SI,CIADHR02620006SI,CIADHR02620007SI,CIBABT02900001SI,CIBABT02900003SI,CIBABT02900005SI,CIBAEV02880002SI,CIBAOO02890002SI,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,0,0.00,0.0000,7.68,0,53.00,0.00,104.00,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0.00,15.8208,0.00,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,2
2,0,0,0.00,15.8208,0.00,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,0
3,0,0,7.68,0.0000,0.00,0,53.00,0.00,0.00,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0.00,15.3600,0.00,0,53.00,8.00,113.00,0,...,2,84,0,1,3,0,0,2,0,2

In [39]:
SKU_Labels_Classifier = Y.applymap(lambda x: 1 if x > 0 else x)

/var/folders/82/2vhdyst96hl7zx05_s8z_g9r0000gn/T/ipykernel_22149/3016573880.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  SKU_Labels_Classifier = Y.applymap(lambda x: 1 if x > 0 else x)

In [52]:
SKU_Labels_Classifier.head()

,CIADHL02630002SI,CIADHL02630003SI,CIADHR02620004SI,CIADHR02620006SI,CIADHR02620007SI,CIBABT02900001SI,CIBABT02900003SI,CIBABT02900005SI,CIBAEV02880002SI,CIBAOO02890002SI,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,0,0.0,0.0,1.0,0,1,0.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0.0,1.0,0.0,0,1,1.0,1.0,0,...,1,1,0,1,1,0,0,1,0,1
2,0,0,0.0,1.0,0.0,0,1,1.0,1.0,0,...,1,1,0,1,1,0,0,1,0,0
3,0,0,1.0,0.0,0.0,0,1,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0.0,1.0,0.0,0,1,1.0,1.0,0,...,1,1,0,1,1,0,0,1,0,1

In [41]:
SKU_Labels_Regression= Y

In [42]:
SKU_Labels_Regression.head()

,CIADHL02630002SI,CIADHL02630003SI,CIADHR02620004SI,CIADHR02620006SI,CIADHR02620007SI,CIBABT02900001SI,CIBABT02900003SI,CIBABT02900005SI,CIBAEV02880002SI,CIBAOO02890002SI,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,0,0.00,0.0000,7.68,0,53.00,0.00,104.00,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0.00,15.8208,0.00,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,2
2,0,0,0.00,15.8208,0.00,0,54.59,8.24,21.63,0,...,2,84,0,1,3,0,0,2,0,0
3,0,0,7.68,0.0000,0.00,0,53.00,0.00,0.00,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0.00,15.3600,0.00,0,53.00,8.00,113.00,0,...,2,84,0,1,3,0,0,2,0,2

In [43]:
HC = Raw_data_Dropping.iloc[:,167:301]

In [44]:
HC.head()

,Floor Plan Length,Floor Plan Width,Open Ceiling Office Area,Closed Ceiling Office Area,False Floor Office Area,Downlights proposed area,Corridor Length,Greenwall (live),Workstations +Hotdesk seat,Workstation (Laptop)_Qty,...,HUB / IDF Room-1_Mux rack_Qty,HUB / IDF Room-1_Voice rack_Qty,HUB / IDF Room-2_Server rack_Qty,HUB / IDF Room-2_Network rack_Qty,HUB / IDF Room-2_Mux rack_Qty,HUB / IDF Room-2_Voice rack_Qty,Lab Racks_Qty,Lab Desk_Qty,Lab Equipments- 3Phase_Qty,Lab Equipments- 1Phase_Qty
0,18,14,1808,0,0,129.730483,40,0,40,0,...,0,0,0,0,0,0,0,0,0,0
1,70,30,1255,0,0,920.074349,205,0,408,0,...,0,0,0,0,0,0,0,0,0,0
2,70,30,1255,0,0,920.074349,205,0,408,0,...,0,0,0,0,0,0,0,0,0,0
3,18,14,1808,0,0,129.730483,40,0,40,0,...,0,0,0,0,0,0,0,0,0,0
4,70,30,1255,0,0,900.892193,205,0,300,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
SKU_Label_Classification_Updated = pd.concat([Raw_data_Dropping_Parameter,HC],axis=1)

In [58]:
SKU_Label_Classification_Updated.head(10)

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,HUB / IDF Room-1_Mux rack_Qty,HUB / IDF Room-1_Voice rack_Qty,HUB / IDF Room-2_Server rack_Qty,HUB / IDF Room-2_Network rack_Qty,HUB / IDF Room-2_Mux rack_Qty,HUB / IDF Room-2_Voice rack_Qty,Lab Racks_Qty,Lab Desk_Qty,Lab Equipments- 3Phase_Qty,Lab Equipments- 1Phase_Qty
0,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0,0,0,0,0,0,0,0,0,0
1,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
2,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
3,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0,0,0,0,0,0,0,0,0,0
4,NORTH,29192,2712.002973,0,32312,6,1,12,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
5,NORTH,29224,2714.975845,0,45347,14,1,20,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
6,NORTH,29192,2712.002973,0,32312,6,1,12,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
7,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
8,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0
9,NORTH,29224,2714.975845,0,45347,14,1,20,NaN,UL&FM,...,0,0,0,0,0,0,0,0,0,0

In [59]:
HC.head()

,Floor Plan Length,Floor Plan Width,Open Ceiling Office Area,Closed Ceiling Office Area,False Floor Office Area,Downlights proposed area,Corridor Length,Greenwall (live),Workstations +Hotdesk seat,Workstation (Laptop)_Qty,...,HUB / IDF Room-1_Mux rack_Qty,HUB / IDF Room-1_Voice rack_Qty,HUB / IDF Room-2_Server rack_Qty,HUB / IDF Room-2_Network rack_Qty,HUB / IDF Room-2_Mux rack_Qty,HUB / IDF Room-2_Voice rack_Qty,Lab Racks_Qty,Lab Desk_Qty,Lab Equipments- 3Phase_Qty,Lab Equipments- 1Phase_Qty
0,18,14,1808,0,0,129.730483,40,0,40,0,...,0,0,0,0,0,0,0,0,0,0
1,70,30,1255,0,0,920.074349,205,0,408,0,...,0,0,0,0,0,0,0,0,0,0
2,70,30,1255,0,0,920.074349,205,0,408,0,...,0,0,0,0,0,0,0,0,0,0
3,18,14,1808,0,0,129.730483,40,0,40,0,...,0,0,0,0,0,0,0,0,0,0
4,70,30,1255,0,0,900.892193,205,0,300,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
SKU_Label_Classification_Data = pd.concat([SKU_Label_Classification_Updated,SKU_Labels_Classifier],axis=1)

In [61]:
SKU_Label_Classification_Data.head()

,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,Fire Approval std.,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0,0,0,0,0,0,0,0,0,0
1,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,1,1,0,1,1,0,0,1,0,1
2,NORTH,24950,2317.911557,0,33000,5,1,8,NaN,UL&FM,...,1,1,0,1,1,0,0,1,0,0
3,NORTH,2583,239.966555,0,4653,1,1,6,NaN,UL,...,0,0,0,0,0,0,0,0,0,0
4,NORTH,29192,2712.002973,0,32312,6,1,12,NaN,UL&FM,...,1,1,0,1,1,0,0,1,0,1

In [62]:
SKU_Label_Classification_Data.to_csv('/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Transformation/Classication_Data_0.0.csv')

In [64]:
import io

In [67]:
Data_path = '/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Transformation/Classication_Data_0.1.csv'

In [ ]:
Classification_Data_transformation = pd.read_csv(Data_path, keep_default_na=False, na_values=[])

In [71]:
Classification_Data_transformation.head()

,Unnamed: 0,Project Location,Carpet Area of project,Carpet Area of project (sqm),Area under Terrace area / Refuge area where we would need to provide thermal insulation,Built Up Area,Proposed Floor,Total floors proposed for project,No. of floors,Sustainability,...,MEVEAP00240005SI,MEVEPV00210002SI,MEVGVK05750001SI,MEWLSR00610002SI,MEWLSR00610003SI,MEWLSR00610004SI,MEWLSR00610005SI,MEWLTE00600002SI,MEWLWL00620001SI,MEWLWL00620012SI
0,0,NORTH,2583,239.966555,0,4653,1,1,6,None,...,0,0,0,0,0,0,0,0,0,0
1,1,NORTH,24950,2317.911557,0,33000,5,1,8,None,...,1,1,0,1,1,0,0,1,0,1
2,2,NORTH,24950,2317.911557,0,33000,5,1,8,None,...,1,1,0,1,1,0,0,1,0,0
3,3,NORTH,2583,239.966555,0,4653,1,1,6,None,...,0,0,0,0,0,0,0,0,0,0
4,4,NORTH,29192,2712.002973,0,32312,6,1,12,None,...,1,1,0,1,1,0,0,1,0,1

In [74]:
Classification_Data_transformation.to_csv("/Users/naveen/Desktop/Projects/Space_Matrix/Estimation_Engine/data/Processed/Processed_Classication_Data.csv")